/**
 * Tabs Component Styles
 */

.tabs {
  display: flex;
  flex-direction: column;
  height: 100%;

  &Header {
    display: flex;
    gap: 0;
    // border-bottom: 2px solid var(--color-border-primary);
  }
  // GRO PROBLEME SECONDARY
  &Tab {
    flex: 1;
    padding: var(--space-sm) var(--space-md);
    border: none;
    cursor: pointer;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-secondary);
    transition: all 150ms ease-in-out;
    border-bottom: 2px solid #d6d6d6;
    margin-bottom: -2px;
    position: relative;

    &:first-child {
      border-right: var(--border-medium);
    }

    // &:hover {
    //   background-color: var(--color-bg-secondary);
    // }

    &--active {
      color: var(--color-primary);
      background-color: transparent;
    }

    &Content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-xs);
      color: inherit; // L'icône hérite de la couleur
    }
  }

  &Indicator {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--color-primary);
  }

  &Panel {
    flex: 1;
    overflow-y: auto;
    padding: var(--space-md);
  }
}
